*.idea
pair/logs/splashkit.log

two-programs/c-plus/logs/
two-programs/c-plus/myeasylog.log

two-programs/python/logs/
two-programs/python/myeasylog.log

two-programs/c-sharp/logs/
two-programs/c-sharp/myeasylog.log
two-programs/c-sharp/client/logs/
two-programs/c-sharp/server/logs/
two-programs/c-sharp/client/bin/
two-programs/c-sharp/server/bin/